.container {
  margin-left: 2px;
}

.button {
  width: 90vh;
  margin-top: 2px;
  margin-bottom: 2px;
}

.half-button {
  width: 45vh;
}

#grid {
  display: grid;
  height: 90vh;
  width: 90vh;
  border: 1px solid black;
}

.grid-item {
  height: 100%;
  width: 100%;
}